.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.section h1 {
    text-align: center;
    font-size: 500%;
    color: white;
    z-index: 1;
    padding: 20px;
    margin: 15px;
    text-shadow: 1px 1px 15px #000;
    opacity: .8;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
}

.main-text{
    padding-top: 20px;
    color: white;
}

iframe{
    height: 20vh;
    width: 40vh;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}