/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {

    height: 100%;
    font-family: sans-serif;
}

#main-container{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/passion.jpg);
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.left-cl, .right-cl{
    margin: auto;
    margin-top: 20px;
}

/*---------------------------------------------*/
a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}


textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.wrap-fm-contact {
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/*==================================================================
[ Title form ]*/
.contact100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 64px 15px 64px 15px;
}

.contact100-form-title-1 {
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 7px;
}

.contact100-form-title-2 {
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}


.contact100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54, 84, 99, 0.7);
}


/*==================================================================
[ Form ]*/

.contact100-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 57px 190px;
}

.right-cl{
    text-align: center;
    
}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-fm-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
}

.label-input {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;

    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;

}

/*---------------------------------------------*/
.fm-input {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}

.focus-fm-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-fm-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    transition: all 0.6s;

    background: #57b846;
}


/*---------------------------------------------*/
input.fm-input {
    height: 45px;
}


textarea.fm-input {
    min-height: 115px;
    padding-top: 14px;
    padding-bottom: 13px;
}


.fm-input:focus + .focus-fm-input::before {
    width: 100%;
}

.has-val.fm-input + .focus-fm-input::before {
    width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.contact100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    transition: all 0.4s;
}

.contact100-form-btn i {
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background-color: #333333;
}

.contact100-form-btn:hover i {
    transform: translateX(10px);
}

/*------------------------------------------------ */

iframe{
    width: 100%;
    height: 40vh;
}


/*------------------------------------------------------------------
[ Responsive ]*/
@media screen and (max-width: 800px) {
    .wrap-fm-contact {   
        width: 90vw;
    }
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 43px 15px 57px 117px;
    }
}

@media (max-width: 480px) {
    .contact100-form {
        padding: 43px 15px 57px 15px;
    }

    .label-input {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }
}