#main-container {
    min-height: 100vh;
    min-width: 100%;
}

#main {
    overflow: auto;
}

footer{
    z-index: 50;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-color: #434343;
}
.ftIcon{
    color: white;
    z-index: 100;
}
footer ul li a:hover{
    background-color: #ffbb1c;
}