/* line 1, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
.intro {
  width: 100%;
  height: calc(200vh - 150px);
  position: relative; }
  /* line 8, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
  .intro .logo-section {
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/sven-van-der-pluijm-37716-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative; }
  /* line 17, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
  .intro .intro-text-slide {
    z-index: 10;
    position: relative;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }
    /* line 24, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .intro .intro-text-slide .intro-carousel {
      width: 100%;
      height: 100%; }
      /* line 28, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
      .intro .intro-text-slide .intro-carousel .carousel-inner {
        height: 100%;
        width: 100%; }
        /* line 32, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .intro-text-slide .intro-carousel .carousel-inner .c-vision {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/elijah-hiett-336504-unsplash.jpg");
          background-attachment: fixed;
          background-size: cover; }
        /* line 38, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .intro-text-slide .intro-carousel .carousel-inner .c-mission {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/zach-vessels-1285340-unsplash.jpg");
          background-attachment: fixed;
          background-size: cover; }
        /* line 43, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .intro-text-slide .intro-carousel .carousel-inner .c-legacy {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/mark-basarab-122141-unsplash.jpg");
          background-attachment: fixed;
          background-size: cover; }
        /* line 49, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .intro-text-slide .intro-carousel .carousel-inner .carousel-item {
          height: 100%;
          width: 100%;
          position: relative; }
          /* line 54, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
          .intro .intro-text-slide .intro-carousel .carousel-inner .carousel-item .intro-text {
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white; }
            /* line 63, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
            .intro .intro-text-slide .intro-carousel .carousel-inner .carousel-item .intro-text h1,
            .intro .intro-text-slide .intro-carousel .carousel-inner .carousel-item .intro-text h2 {
              font-size: 60px;
              font-family: Arial;
              font-weight: 200;
              color: white;
              text-shadow: 0px 0px 20px #434343; }
            /* line 72, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
            .intro .intro-text-slide .intro-carousel .carousel-inner .carousel-item .intro-text p {
              color: white;
              padding-left: 20%;
              padding-right: 20%; }
  /* line 83, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
  .intro .sfd-logo-bg {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .intro .sfd-logo-bg img {
      z-index: 0; }
      @media all {
        /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .sfd-logo-bg img {
          transform: scale(1.6); } }
      @media (max-width: 700px) {
        /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .sfd-logo-bg img {
          transform: scale(1); } }
      @media (max-height: 700px) {
        /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .sfd-logo-bg img {
          transform: scale(1); } }
      @media (max-width: 500px) {
        /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .sfd-logo-bg img {
          transform: scale(0.7); } }
      @media (max-height: 500px) {
        /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .sfd-logo-bg img {
          transform: scale(0.7); } }
      @media (max-width: 300px) {
        /* line 92, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .intro .sfd-logo-bg img {
          transform: scale(0.5); } }

/* line 122, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
.featured-campaign {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/sacha-styles-552126-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative; }
  /* line 132, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
  .featured-campaign .featured-campaign-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
    /* line 140, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-header h1 {
      color: white;
      font-size: 75px;
      font-weight: 100px;
      letter-spacing: 2px;
      text-shadow: 0px 0px 20px #434343; }
      @media (max-width: 650px) {
        /* line 140, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .featured-campaign .featured-campaign-header h1 {
          font-size: 50px; } }
    /* line 153, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-header h2 {
      color: white;
      font-family: Arial;
      font-size: 25px;
      opacity: 0.7; }
  /* line 161, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
  .featured-campaign .featured-campaign-video {
    z-index: 2;
    width: 100%;
    background: transparent;
    padding-bottom: 30px;
    padding-top: 30px; }
    /* line 168, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-video video {
      position: relative;
      background: transparent;
      width: 80%;
      left: 50%;
      transform: translateX(-50%); }
  /* line 179, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
  .featured-campaign .featured-campaign-info {
    width: calc(100% + 15px);
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding-left: 15px;
    position: relative; }
    /* line 187, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-info i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 400px;
      opacity: 0.2; }
    /* line 196, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-info .info {
      height: 100%;
      display: table; }
      /* line 200, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
      .featured-campaign .featured-campaign-info .info p {
        color: white;
        display: table-cell;
        vertical-align: middle;
        padding: 30px; }
    /* line 208, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-info .carousel-header {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      color: white; }
    /* line 217, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
    .featured-campaign .featured-campaign-info .carousel {
      margin: 30px; }
      /* line 220, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
      .featured-campaign .featured-campaign-info .carousel .carousel-item {
        height: 300px;
        width: 100%; }
        /* line 224, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/home.scss */
        .featured-campaign .featured-campaign-info .carousel .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

/*# sourceMappingURL=home.css.map */