/* line 1, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
.delivery-team-intro {
  width: 100%;
  height: 240px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/photo-1550458178-58916b580852.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  /* line 11, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
  .delivery-team-intro .intro-text {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white; }
    /* line 21, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .delivery-team-intro .intro-text h1 {
      font-size: 60px;
      text-shadow: 0px 0px 50px black; }
    /* line 26, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .delivery-team-intro .intro-text h1,
    .delivery-team-intro .intro-text p {
      z-index: 1; }
    /* line 31, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .delivery-team-intro .intro-text .fa-hands {
      z-index: 0;
      position: absolute;
      font-size: 260px;
      opacity: 0.2;
      top: -10px;
      transform: translateX(-50%); }
    /* line 40, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .delivery-team-intro .intro-text .fa-drum {
      z-index: 0;
      position: absolute;
      font-size: 220px;
      opacity: 0.2;
      top: -120px;
      transform: translateX(-50%); }

/* line 51, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
.profiles-section {
  margin-top: 50px;
  width: 100%; }
  /* line 55, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
  .profiles-section .profile {
    background: #eee;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px; }
    /* line 65, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .profiles-section .profile .profile-img {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 400px;
      margin-bottom: 20px; }
      /* line 72, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
      .profiles-section .profile .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    /* line 79, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .profiles-section .profile .profile-name {
      z-index: 1;
      color: white;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
      background: #434343;
      padding-bottom: 5px;
      margin: 0;
      position: relative; }
      /* line 91, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
      .profiles-section .profile .profile-name i {
        position: absolute;
        color: white;
        opacity: 0.4;
        left: calc(100% - 70px);
        font-size: 60px; }
    /* line 100, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .profiles-section .profile .profile-job {
      z-index: 1;
      color: white;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 17px;
      padding-bottom: 10px;
      font-weight: 200;
      height: 2.5em;
      background: #434343; }
    /* line 112, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .profiles-section .profile .profile-desc {
      max-height: 240px;
      overflow-y: scroll;
      padding-left: 15px;
      padding-right: 15px; }
  /* line 120, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
  .profiles-section .profile-row {
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px; }
  /* line 127, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
  .profiles-section .other-team-header {
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    background: url("../img/photo-1550458178-58916b580852.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 30px;
    padding-top: calc(50px - 0.7em); }
  /* line 140, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
  .profiles-section .profile-scroll-row {
    margin: 0;
    display: inline-flex;
    width: 100%;
    overflow-x: scroll; }
    /* line 146, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .profiles-section .profile-scroll-row .profile {
      min-width: 300px; }
      /* line 149, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
      .profiles-section .profile-scroll-row .profile .profile-img {
        height: 200px; }
    /* line 154, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/meet_the_team.scss */
    .profiles-section .profile-scroll-row .profile:first-of-type {
      margin-left: 30px; }

/*# sourceMappingURL=meet_the_team.css.map */