.navbar {
    padding: 12.8px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-color: #434343;
}

.navbar-nav li {
    padding-right: 20px;
    text-align: center;
}

.nav-link {
    font-size: 90% !important;
    color: white;
}