/* line 16, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
html {
  overflow-y: scroll;
  margin: 0px;
  overflow-x: hidden; }

/* line 22, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
body {
  margin: 0px; }

/* line 26, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
h1,
h2 {
  font: Arial bold; }

/* line 31, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
* {
  font: Arial; }

/* line 38, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
.our-work-header {
  position: relative;
  width: 100vw;
  text-align: center;
  height: 240px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden; }
  /* line 50, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .our-work-header h1 {
    position: absolute;
    top: calc(50% - 0.5em);
    text-align: center;
    font-size: 70px;
    width: 100%;
    color: #fff; }
  /* line 59, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .our-work-header i {
    position: absolute;
    font-size: 500px;
    color: #eee;
    width: 100%;
    text-align: center;
    opacity: 0.2;
    left: 0;
    top: calc(50% - 0.5em); }

/* line 71, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
#culture-carousel {
  margin-top: 20px;
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
  background: transparent; }
  /* line 79, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  #culture-carousel .background {
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/darkened_eles.jpg");
    filter: saturate(0);
    background-size: cover;
    background-attachment: fixed; }
  /* line 89, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  #culture-carousel i {
    position: absolute;
    font-size: 180px;
    color: #fff;
    width: 100%;
    text-align: center;
    opacity: 0.2;
    left: 0;
    top: calc(50% - 0.5em); }
  /* line 100, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  #culture-carousel .carousel-inner {
    height: 240px;
    padding-top: 40px;
    z-index: 1; }
    /* line 105, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    #culture-carousel .carousel-inner .carousel-item {
      height: 100%;
      width: 80%;
      margin-left: 10%; }
      /* line 110, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
      #culture-carousel .carousel-inner .carousel-item span {
        color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        top: calc(50% - 35px);
        left: 0; }
        /* line 118, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
        #culture-carousel .carousel-inner .carousel-item span b {
          font-size: 40px; }
  /* line 125, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  #culture-carousel .carousel-indicators {
    top: 104%; }
    /* line 128, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    #culture-carousel .carousel-indicators li {
      background-color: #fff; }

/* line 134, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
.our-work-intro {
  width: 100vw;
  padding: 0;
  padding-top: 2.5vw;
  padding-bottom: 0; }
  /* line 140, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .our-work-intro .our-services-header {
    padding-left: 10vw;
    padding-right: 10vw; }
  /* line 145, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .our-work-intro .top-row {
    padding-left: 10vw;
    padding-right: 10vw; }
    /* line 148, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .our-work-intro .top-row .video-col {
      padding-bottom: 20px; }
      /* line 151, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
      .our-work-intro .top-row .video-col .welcome-vid {
        position: relative;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); }
  /* line 162, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .our-work-intro .service-row {
    margin-top: 100px; }
    /* line 165, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .our-work-intro .service-row .service-header {
      padding-left: 50px;
      padding-right: 60px;
      width: 100%;
      text-align: center; }
      /* line 170, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
      .our-work-intro .service-row .service-header p {
        text-align: center; }
  /* line 176, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .our-work-intro .card-deck {
    width: 100%;
    margin: 75px;
    margin-top: 30px; }
    /* line 181, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .our-work-intro .card-deck .card {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      color: white;
      min-width: 200px;
      margin-bottom: 20px; }
    /* line 191, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .our-work-intro .card-deck h3 {
      padding-top: 5px; }
    /* line 195, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .our-work-intro .card-deck h3,
    .our-work-intro .card-deck ul {
      text-align: left;
      list-style: square; }
    /* line 201, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .our-work-intro .card-deck hr {
      background: white; }

/* line 211, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
.gallery {
  width: 100vw;
  height: 250px;
  margin-top: 0;
  position: relative;
  background: transparent; }
  /* line 219, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .gallery .gallery-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/darkened_eles.jpg");
    filter: saturate(0);
    background-size: cover;
    background-attachment: fixed; }
  /* line 229, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
  .gallery .testimonial-carousel {
    z-index: 1;
    height: 100%;
    text-align: center; }
    /* line 234, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .gallery .testimonial-carousel .carousel-inner {
      height: 100%;
      width: 100%;
      color: white; }
      /* line 239, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
      .gallery .testimonial-carousel .carousel-inner .fa-quote-left {
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        font-size: 20vw;
        opacity: 0.4;
        color: #cc0000; }
      /* line 248, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
      .gallery .testimonial-carousel .carousel-inner .fa-quote-right {
        position: absolute;
        top: calc(100% - 1.25em);
        left: calc(100% - 1.25em);
        font-size: 20vw;
        opacity: 0.4;
        color: #cc0000; }
    /* line 258, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
    .gallery .testimonial-carousel .carousel-item {
      position: relative;
      margin-top: 50px;
      z-index: 2;
      padding-left: 15%;
      padding-right: 15%; }

/* Scrollbar */
/* width */
/* line 271, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

/* Track */
/* line 277, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
::-webkit-scrollbar-track {
  background: #434343; }

/* Handle */
/* line 282, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
/* line 287, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* loader stuff */
/* line 293, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/our_work.scss */
#loader {
  border: 16px solid #343434;
  border-top: 16px solid #434343;
  border-bottom: 16px solid #434343;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=our_work.css.map */