.carousel{
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    top: 25%;
    transform: translateY(-50);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

@media screen and (max-width: 1000px) {
    .carousel-caption h1{
        font-size: 250%;
    }
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.scrolling-wrapper {
    margin: 0px 20px 20px;
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 15%;
    padding-bottom: 10px;
}

.soc-card {
    max-width: 250px;
    margin-right: 20px;
    display: inline-block; 
}

.scroll-title{
    color: white;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
}

.division{
    background-color:  white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}


/* The fmContainer (background) */
.fmContainer {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #000;
    background-color: rgba(0,0,0,0.4);
}
/*The submit button*/
.btnAddSubmit{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}

/* fmContainer Content Box */
.fmContainer-content {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
}

/* position the close button */
.imgcontainer {
    margin: 24px 0 12px 0;
    position: relative;
}

.form-add input[type=text], .btnAddSubmit {
    max-width: 500px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ffbb1c;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}




/* ------------------------------------------- */
/* DETAILED PARTNER PAGE INFO */
.main-text{
    padding-top: 30px;
    color: white;
}

.main-text img{
  padding-bottom: 30px;  
}

.img-container{
    text-align: center;
}

.main-text h1{
    padding-top: 20px;
}