/* line 1, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
.bottom-text {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 50px; }
  /* line 8, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
  .bottom-text .col-lg {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 0; }
    /* line 12, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
    .bottom-text .col-lg .past-work-img {
      height: calc(100% - 2.5em - 20px);
      width: 100%;
      text-align: center;
      padding-bottom: 20px; }
      /* line 17, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
      .bottom-text .col-lg .past-work-img img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    /* line 27, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
    .bottom-text .col-lg button {
      height: 2.5em;
      color: black;
      border: none;
      background: #ffbb1c;
      margin: 0; }
  /* line 36, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
  .bottom-text p {
    margin-bottom: 10px; }

/* line 41, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
.event-title {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%; }

/* line 49, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
.work-info-list {
  list-style: none;
  padding-left: 0;
  table-layout: auto;
  width: 100%; }
  /* line 54, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
  .work-info-list .work-info-list-item {
    width: 100%; }
    /* line 56, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
    .work-info-list .work-info-list-item .info-title {
      font-size: 15px;
      font-family: Arial;
      display: inline-block;
      min-width: 150px;
      width: 35%;
      max-width: 35%;
      font-weight: bold; }
    /* line 66, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
    .work-info-list .work-info-list-item .info-item {
      font-size: 15px;
      font-family: Arial;
      display: inline-block;
      min-width: 65%;
      max-width: 35%;
      padding-bottom: 10px;
      padding-left: 10px; }
      /* line 75, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
      .work-info-list .work-info-list-item .info-item table {
        table-layout: auto;
        max-width: 100%; }
        /* line 78, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/past_work.scss */
        .work-info-list .work-info-list-item .info-item table td:nth-child(1) {
          font-weight: bold;
          padding-right: 15px; }

/*# sourceMappingURL=past_work.css.map */