* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

/* Just moved this to the #main-container style, so the timeline doesn't clash *//*
body {
    font-family: Arial;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-color: #333333;
}
*/

#main-container {
    min-height: 100vh;
    min-width: 100%;
    font-family: Arial;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-color: #333333;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}
/* ------------------------------------------------------------------- */
/* NAVEGATION BAR CSS */
.navbar {
    padding: 12.8px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-color: #434343;
}

.navbar-nav li {
    padding-right: 20px;
    text-align: center;
}

.nav-link {
    font-size: 90% !important;
    color: white;
}

h1 { 
    font-family: 'Enriqueta', arial, serif; 
    line-height: 1.25; margin: 20px 4%; 10px; 
    font-size: 40px; font-weight: bold; 
    text-align: left;
}

/* ------------------------------------------------------------------*/
/* COMMUNITY PAGE CSS*/
/*STYLE FOR TOP SECTION BLOG*/
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {       
    float: left;
    width: 25%;
    padding-right: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 75%;
}

/* blog images */
.blog-img{
    max-height: 20%;
}

/* Add a card effect for articles */
.card {  
    background-color: #2B2B2B;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.blog {
    height: 600px;
    overflow: auto;
    width: 70%;
    margin-bottom: 1%;
}
/* Clear floats after the columns */
.blog:after {
    content: "";
    display: table;
    clear: both;
}

.loadMore{
    width: 70%;
}

.btn-load{
    background-color: #ffbb1c;
    width: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

.btn-add{
    background-color: #336633;
    color: whitesmoke;
    width: 70%;
}



/*STYLE FOR BOTTOM SECTION SOCIAL/PICTURE COLLAGE*/

.references {
    width: 70%;
    color: white;
    overflow: auto;
}

.padding {
    padding-bottom: 2rem;
}

.soc-card{
    margin-top: 20px;
    color: white;
    background-color: #2B2B2B;
}

.row {
    margin: auto;
}
.btn-more{
    background-color: #ffbb1c;
    color: black;
    border: none;
}

.loadMore, .blog, .references, .social-links{
    max-width: 1250px;
}

.add-post{
    text-align: center;
    width: 50%;
    margin-top: 1%;
}

/* ------------------------------------------------------------ */
/* FOOTER */
#footer-placeholder{
    position: relative;
    height: 100px;
    min-width: 100%;
    margin-top: -100px;
    clear: both;
}
footer{
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-color: #434343;
}
.ftIcon{
    color: white;
}
footer ul li a:hover{
    background-color: #ffbb1c;
}

/* Bootstrap Padding Fix */
[class*="col-"] {
    padding: 1rem;
}


/* ----------------------------------------------------------------- */
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #434343; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
