/*
 Defining Cornerstore as a custom webfont
 */
@font-face {
  font-family: 'Cornerstore';
  src: url("../fonts/Corner Store JF/cornerstorejf.woff2") format("woff2"), url("../fonts/Corner Store JF/cornerstorejf.woff") format("woff"), url("../fonts/Corner Store JF/CornerStoreJF.ttf") format("truetype"); }

/* line 64, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/text_styles.scss */
.banner {
  letter-spacing: -0.5px;
  font-family: 'Cornerstore', Times, serif;
  font-size: 40px;
  font-weight: 900;
  color: #000000; }

/* line 68, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/text_styles.scss */
.title {
  letter-spacing: -0.5px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #000000; }

/* line 72, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/text_styles.scss */
h1, h2, h3, h4 {
  letter-spacing: -0.5px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #000000; }

/* line 76, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/text_styles.scss */
.text_body {
  letter-spacing: -0.5px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #000000; }

/* line 80, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/text_styles.scss */
p, span {
  letter-spacing: -0.5px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #000000; }

/*# sourceMappingURL=text_styles.css.map */