/* line 1, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

/* line 7, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #d5d5d5;
  left: 50%;
  margin-left: -1.5px; }

/* line 18, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.pull-right {
  float: right; }

/* line 22, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li {
  margin-bottom: 30px;
  position: relative;
  width: 50%;
  float: left;
  clear: left; }

/* line 30, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

/* line 36, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li:after {
  clear: both; }

/* line 40, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

/* line 46, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li:after {
  clear: both; }

/* line 50, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li > .timeline-panel {
  width: 94%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  /*padding: 20px;*/
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05); }

/* line 62, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 176px;
  right: -13px;
  display: inline-block;
  border-top: 12px solid transparent;
  border-left: 12px solid #ddd;
  border-right: 0 solid #ddd;
  border-bottom: 12px solid transparent;
  content: " "; }

/* line 74, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 177px;
  right: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-left: 11px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 11px solid transparent;
  content: " "; }

/* line 86, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 166px;
  right: -12px;
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */ }

/* line 106, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

/* line 110, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 12px;
  left: -13px;
  right: auto; }

/* line 117, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 11px;
  left: -11px;
  right: auto; }

/* line 124, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-badge > a {
  color: #d5d5d5 !important;
  font-size: 1.1em;
  line-height: 1.1em; }

/* line 130, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-badge a:hover {
  color: #000 !important; }

/* line 138, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-title {
  margin-top: 0;
  color: inherit; }

/* line 143, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-heading {
  width: 100%;
  height: 150px;
  position: relative; }
  /* line 148, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-heading .img-responsive {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: 1; }
  /* line 156, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-heading h2 {
    padding: 15px;
    position: absolute;
    color: white;
    font-size: 25px;
    z-index: 3; }

/* line 165, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-body > p,
.timeline-body > ul {
  padding: 20px;
  margin-bottom: 0; }

/* line 171, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-body > p + p {
  margin-top: 5px; }

/* line 175, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-footer {
  padding: 10px 15px;
  background-color: #f4f4f4; }

/* line 180, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-footer > a {
  cursor: pointer;
  text-decoration: none; }

/* line 185, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-footer .icon {
  font-size: 20px;
  line-height: 20px;
  margin-right: 6px; }

/* line 191, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-footer .icon:last-child {
  margin-right: 0; }

/* line 195, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0); }

/* line 208, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.in {
  /*opacity:0;
    filter:alpha(opacity=80);*/ }

/* line 213, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.top {
  margin-top: -2px; }

/* line 217, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.right {
  margin-left: 2px; }

/* line 221, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.bottom {
  margin-top: 2px; }

/* line 225, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.left {
  margin-left: -2px; }

/* line 229, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-left: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 0 solid #000; }

/* line 238, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.left .tooltip-arrow {
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-left: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 0 solid #000; }

/* line 247, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.bottom .tooltip-arrow {
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-left: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 0 solid #000; }

/* line 256, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip.right .tooltip-arrow {
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-left: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 0 solid #000; }

/* line 265, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip-inner {
  width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #313131;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

/* line 277, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0; }

/* line 288, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-section {
  background: white; }

/* line 292, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline-header {
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding-top: 60px;
  height: 250px;
  text-align: center; }
  /* line 305, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-header .timeline-arrow {
    top: 80%;
    position: absolute;
    height: 100%;
    width: 0;
    left: calc(50% - 1px);
    border: solid 1.5px; }
  /* line 314, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-header p {
    padding-left: 15%;
    padding-bottom: 20px;
    padding-right: 15%; }
  /* line 320, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-header h2 {
    font-size: 40px;
    font-weight: 500; }
  /* line 325, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-header i {
    position: absolute;
    font-size: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 70%;
    left: calc(50% - 22px);
    z-index: 1; }
  @media (max-width: 767px) {
    /* line 340, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
    .timeline-header .timeline-arrow {
      left: 33.5px; }
    /* line 344, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
    .timeline-header i {
      left: calc(33px - 22px); } }

/* line 351, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li.timeline-inverted {
  float: right;
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px; }

/* line 358, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li:nth-child(2) {
  margin-top: 60px; }

/* line 362, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px; }

@media (max-width: 767px) {
  /* line 368, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline-arrow {
    top: 80%;
    position: absolute;
    height: 100%;
    width: 0;
    left: 50px;
    border: solid 1.5px; }
  /* line 377, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline:before {
    left: 20px; }
  /* line 381, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline > li {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    float: left;
    clear: left; }
  /* line 389, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 46px);
    width: -moz-calc(100% - 46px);
    width: -webkit-calc(100% - 46px); }
  /* line 395, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline > li > .timeline-badge {
    left: 8px;
    margin-left: 0;
    top: 166px; }
  /* line 401, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline > li > .timeline-panel {
    float: right; }
  /* line 405, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 13px;
    left: -13px;
    right: auto; }
  /* line 412, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 11px;
    left: -11px;
    right: auto; }
  /* line 419, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 0px;
    margin-bottom: 25px; }
  /* line 426, /Users/chrispy/Desktop/UoN Compsci/Projects/UoN Web Dev/sfdwebdevelopment/website-files/assets/scss/timeline.scss */
  .timeline > li.timeline-inverted > .timeline-badge {
    left: 8px; } }

/*# sourceMappingURL=timeline.css.map */