.intro {
    width: 100%;
    height: calc(200vh - 150px);
    //background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/photo-1499734979570-67f42bb67699.jpg");
    position: relative;
    //overflow-y: scroll;

    .logo-section {
        width: 100%;
        height: 50%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/sven-van-der-pluijm-37716-unsplash.jpg");
        background-attachment: fixed;
        background-size: cover;
        position: relative;
    }

    .intro-text-slide {
        z-index: 10;
        position: relative;
        height: 50%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

        .intro-carousel {
            width: 100%;
            height: 100%;

            .carousel-inner {
                height: 100%;
                width: 100%;
                
                .c-vision {
                    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/elijah-hiett-336504-unsplash.jpg");
                    background-attachment: fixed;
                    background-size: cover;
                }
                
                .c-mission {
                    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/zach-vessels-1285340-unsplash.jpg");
                    background-attachment: fixed;
                    background-size: cover;
                }
                .c-legacy {
                    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../img/mark-basarab-122141-unsplash.jpg");
                    background-attachment: fixed;
                    background-size: cover;
                }
                
                .carousel-item {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    
                    .intro-text {
                        width: 70%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        color: white;

                        h1,
                        h2 {
                            font-size: 60px;
                            font-family: Arial;
                            font-weight: 200;
                            color: white;
                            text-shadow: 0px 0px 20px #434343;
                        }

                        p {
                            color: white;
                            padding-left: 20%;
                            padding-right: 20%;
                        }
                    }
                }
            }
        }
    }

    .sfd-logo-bg {
        z-index: 0;
        position: absolute;
        //top: calc(50% + 85px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        //opacity: 0.9;
        img {
            z-index: 0;

            @media all {
                transform: scale(1.6);
            }

            @media (max-width: 700px) {
                transform: scale(1);
            }

            @media (max-height: 700px) {
                transform: scale(1);
            }

            @media (max-width: 500px) {
                transform: scale(0.7);
            }

            @media (max-height: 500px) {
                transform: scale(0.7);
            }

            @media (max-width: 300px) {
                transform: scale(0.5);
            }
        }
    }
}

.featured-campaign {
    overflow: hidden;
    width: 100%;
    //height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/sacha-styles-552126-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;


    .featured-campaign-header {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        color: white;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

        h1 {
            color: white;
            font-size: 75px;

            @media (max-width: 650px) {
                font-size: 50px;
            }

            font-weight: 100px;
            letter-spacing: 2px;
            text-shadow: 0px 0px 20px #434343;
        }

        h2 {
            color: white;
            font-family: Arial;
            font-size: 25px;
            opacity: 0.7;
        }
    }

    .featured-campaign-video {
        z-index: 2;
        width: 100%;
        background: transparent;
        padding-bottom: 30px;
        padding-top: 30px;

        video {
            position: relative;
            background: transparent;
            width: 80%;
            //top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    .featured-campaign-info {
        //overflow: hidden;
        width: calc(100% + 15px);
        color: white;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        padding-left: 15px;
        position: relative;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 400px;
            opacity: 0.2;
        }

        .info {
            height: 100%;
            display: table;

            p {
                color: white;
                display: table-cell;
                vertical-align: middle;
                padding: 30px;
            }
        }

        .carousel-header {

            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            color: white;

        }

        .carousel {
            margin: 30px;

            .carousel-item {
                height: 300px;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
