.delivery-team-intro {
    width: 100%;
    //height: calc(100vh - 85px);
    height: 240px;
    //background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/photo-1499734979570-67f42bb67699.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/photo-1550458178-58916b580852.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .intro-text {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;

        h1 {
            font-size: 60px;
            text-shadow: 0px 0px 50px black;
        }

        h1,
        p {
            z-index: 1;
        }

        .fa-hands {
            z-index: 0;
            position: absolute;
            font-size: 260px;
            opacity: 0.2;
            top: -10px;
            transform: translateX(-50%);
        }

        .fa-drum {
            z-index: 0;
            position: absolute;
            font-size: 220px;
            opacity: 0.2;
            top: -120px;
            transform: translateX(-50%);
        }
    }
}

.profiles-section {
    margin-top: 50px;
    width: 100%;

    .profile {
        background: #eee;
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;

        //width: 200px;
        .profile-img {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            height: 400px;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .profile-name {
            z-index: 1;
            color: white;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 20px;
            background: #434343;
            padding-bottom: 5px;
            margin: 0;
            position: relative;

            i {
                position: absolute;
                color: white;
                opacity: 0.4;
                left: calc(100% - 70px);
                font-size: 60px;
            }
        }

        .profile-job {
            z-index: 1;
            color: white;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 17px;
            padding-bottom: 10px;
            font-weight: 200;
            height: 2.5em;
            background: #434343;
        }

        .profile-desc {
            max-height: 240px;
            overflow-y: scroll;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .profile-row {
        padding: 0;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .other-team-header {
        width: 100%;
        height: 100px;
        text-align: center;
        color: white;
        font-size: 30px;
        background: url("../img/photo-1550458178-58916b580852.jpg");
        background-attachment: fixed;
        background-size: cover;
        margin-bottom: 30px;
        padding-top: calc(50px - 0.7em);
    }

    .profile-scroll-row {
        margin: 0;
        display: inline-flex;
        width: 100%;
        overflow-x: scroll;

        .profile {
            min-width: 300px;

            .profile-img {
                height: 200px;
            }
        }

        .profile:first-of-type {
            margin-left: 30px;
        }
    }
}
