@mixin noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
    overflow-y: scroll;
    margin: 0px;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

h1,
h2 {
    font: Arial bold;
}

* {
    font: Arial;
}


// CSS for intro

.our-work-header {

    position: relative;
    width: 100vw;
    text-align: center;
    height: 240px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;

    h1 {
        position: absolute;
        top: calc(50% - 0.5em);
        text-align: center;
        font-size: 70px;
        width: 100%;
        color: #fff;
    }

    i {
        position: absolute;
        font-size: 500px;
        color: #eee;
        width: 100%;
        text-align: center;
        opacity: 0.2;
        left: 0;
        top: calc(50% - 0.5em);
    }
}

#culture-carousel {
    margin-top: 20px;
    position: relative;
    //background: #ddd;
    width: 100vw;
    margin-bottom: 50px;
    background: transparent;
    
    .background {
        position: absolute;
        width: 100%;
        height: calc(100% + 50px);
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/darkened_eles.jpg");
        filter: saturate(0);
        background-size: cover;
        background-attachment: fixed;
    }

    i {
        position: absolute;
        font-size: 180px;
        color: #fff;
        width: 100%;
        text-align: center;
        opacity: 0.2;
        left: 0;
        top: calc(50% - 0.5em);
    }

    .carousel-inner {
        height: 240px;
        padding-top: 40px;
        z-index: 1;

        .carousel-item {
            height: 100%;
            width: 80%;
            margin-left: 10%;

            span {
                color: #fff;
                position: absolute;
                width: 100%;
                text-align: center;
                top: calc(50% - 35px);
                left: 0;

                b {
                    font-size: 40px;
                }
            }
        }
    }

    .carousel-indicators {
        top: 104%;

        li {
            background-color: #fff;
        }
    }
}

.our-work-intro {
    width: 100vw;
    padding: 0;
    padding-top: 2.5vw;
    padding-bottom: 0;
    
    .our-services-header {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .top-row {
        padding-left: 10vw;
        padding-right: 10vw;
        .video-col {

            //background: #eee;
            .welcome-vid {
                position: relative;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
            
            padding-bottom: 20px;
        }
    }

    .service-row {
        margin-top: 100px;
        //background: #444;
        .service-header {
            padding-left: 50px;
            padding-right: 60px;
            width: 100%;
            text-align: center;
            p {
                text-align: center;
            }
        }
    }

    .card-deck {
        width: 100%;
        margin: 75px;
        margin-top: 30px;

        .card {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            color: white;
            min-width: 200px;
            margin-bottom: 20px;
        }

        h3 {
            padding-top: 5px;
        }

        h3,
        ul {
            text-align: left;
            list-style: square;
        }

        hr {
            background: white;
        }
    }

}


// CSS for gallery

.gallery {
    width: 100vw;
    height: 250px;

    margin-top: 0;
    position: relative;
    background: transparent;

    .gallery-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/darkened_eles.jpg");
        filter: saturate(0);
        background-size: cover;
        background-attachment: fixed;
    }

    .testimonial-carousel {
        z-index: 1;
        height: 100%;
        text-align: center;

        .carousel-inner {
            height: 100%;
            width: 100%;
            color: white;

            .fa-quote-left {
                position: absolute;
                top: 0.25em;
                left: 0.25em;
                font-size: 20vw;
                opacity: 0.4;
                color: #cc0000;
            }

            .fa-quote-right {
                position: absolute;
                top: calc(100% - 1.25em);
                left: calc(100% - 1.25em);
                font-size: 20vw;
                opacity: 0.4;
                color: #cc0000;
            }
        }

        .carousel-item {
            position: relative;
            margin-top: 50px;
            z-index: 2;
            padding-left: 15%;
            padding-right: 15%;
        }
    }
}

// Scrollbar edits
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #434343;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* loader stuff */

#loader {
    border: 16px solid #343434;
    border-top: 16px solid #434343;
    border-bottom: 16px solid #434343;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
