.bottom-text {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 50px;
    
    .col-lg {
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        .past-work-img {
            height: calc(100% - 2.5em - 20px);
            width: 100%;
            //background-color: #500;
            text-align: center;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            padding-bottom: 20px;
        }
        padding-bottom: 10px;
        margin-bottom: 0;
        
        button {
            height: 2.5em;
            color: black;
            border: none;
            background: #ffbb1c;
            margin: 0;
        }
    }
    
    p {
        margin-bottom: 10px;
    }
}

.event-title {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.work-info-list {
    list-style: none;
    padding-left: 0;
    table-layout: auto;
    width: 100%;
    .work-info-list-item {
        width: 100%;
        .info-title {
            font-size: 15px;
            font-family: Arial;
            display: inline-block;
            min-width: 150px;
            width: 35%;
            max-width: 35%;
            font-weight: bold;
            //background: #eee;
        }
        .info-item {
            font-size: 15px;
            font-family: Arial;
            display: inline-block;
            min-width: 65%;
            max-width: 35%;
            //background: #f00;
            padding-bottom: 10px;
            padding-left: 10px;
            table {
                table-layout: auto;
                max-width: 100%;
                td:nth-child(1) {
                    font-weight: bold;
                    padding-right: 15px;
                }
            }
        }
    }
}

