$heavy_weight: 900;
$semiheavy_weight: 500;  
$medium_weight: 200;  
$light_weight: 100;  

/*
 Defining Cornerstore as a custom webfont
 */
@font-face {
  font-family: 'Cornerstore';
  src: url("../fonts/Corner Store JF/cornerstorejf.woff2") format("woff2"), 
       url("../fonts/Corner Store JF/cornerstorejf.woff") format("woff"), 
       url("../fonts/Corner Store JF/CornerStoreJF.ttf") format("truetype");
}

@mixin global_font {
    letter-spacing: -0.5px;
}

@mixin logo_font {
    @include global_font
    font: {
        family: 'Cornerstore', Times, serif;
        size: 40px;
        weight: $heavy_weight;
    }
    color: #000000;
}

@mixin title_font {
    @include global_font
    font: {
        family: Arial, sans-serif;
        size: 24px;
        weight: $semiheavy_weight;
    }
    color: #000000;
}

@mixin text_font {
    @include global_font
    font: {
        family: Arial, sans-serif;
        size: 18px;
        weight: $light_weight;
    }
    color: #000000;
}

@mixin small_font {
    @include global_font
    font: {
        family: Arial, sans-serif;
        size: 15px;
        weight: $light_weight;
    }
    color: #000000;
}

//* {
//    @include text_font;
//}

.banner {
    @include logo_font;
}

.title {
    @include title_font;
}

h1, h2, h3, h4 {
    @include title_font;
}

.text_body {
    @include text_font;
}

p, span {
    @include text_font;
}
