.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #d5d5d5;
    left: 50%;
    margin-left: -1.5px;
}

.pull-right {
    float: right;
}

.timeline > li {
    margin-bottom: 30px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 94%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    /*padding: 20px;*/
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 176px;
    right: -13px;
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 12px solid #ddd;
    border-right: 0 solid #ddd;
    border-bottom: 12px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 177px;
    right: -11px;
    display: inline-block;
    border-top: 11px solid transparent;
    border-left: 11px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 11px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 166px;
    right: -12px;
    //    background-color: #999999;
    z-index: 100;
    /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 12px;
    left: -13px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 11px;
    left: -11px;
    right: auto;
}

.timeline-badge > a {
    color: #d5d5d5 !important;
    font-size: 1.1em;
    line-height: 1.1em;
}

.timeline-badge a:hover {
    color: #000 !important;
}

.timeline-badge > a > i {
    //background-color: #efefef;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-heading {
    width: 100%;
    height: 150px;
    position: relative;

    .img-responsive {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
        z-index: 1;
    }

    h2 {
        padding: 15px;
        position: absolute;
        color: white;
        font-size: 25px;
        z-index: 3;
    }
}

.timeline-body > p,
.timeline-body > ul {
    padding: 20px;
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline-footer {
    padding: 10px 15px;
    background-color: #f4f4f4;
}

.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}

.timeline-footer .icon {
    font-size: 20px;
    line-height: 20px;
    margin-right: 6px;
}

.timeline-footer .icon:last-child {
    margin-right: 0;
}

.tooltip {

    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);

}

.tooltip.in {
    /*opacity:0;
    filter:alpha(opacity=80);*/
}

.tooltip.top {
    margin-top: -2px;
}

.tooltip.right {
    margin-left: 2px;
}

.tooltip.bottom {
    margin-top: 2px;
}

.tooltip.left {
    margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip.left .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip.bottom .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip.right .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}

.tooltip-inner {
    width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #313131;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

//.timeline > li {
//    float: right;
//    clear: right;
//}

.timeline-section {
    background: white;
}

.timeline-header {
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
    padding-top: 60px;
    height: 250px;
    text-align: center;

    .timeline-arrow {
        top: 80%;
        position: absolute;
        height: 100%;
        width: 0;
        left: calc(50% - 1px);
        border: solid 1.5px;
    }

    p {
        padding-left: 15%;
        padding-bottom: 20px;
        padding-right: 15%;
    }
    
    h2 {
        font-size: 40px;
        font-weight: 500;
    }

    i {
        position: absolute;
        font-size: 40px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/justin-luebke-82125-unsplash.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        top: 70%;
        left: calc(50% - 22px);
        z-index: 1;
    }

    @media (max-width: 767px) {

        .timeline-arrow {
            left: 33.5px;
        }

        i {
            left: calc(33px - 22px);
        }
    }
}


.timeline > li.timeline-inverted {
    float: right;
    clear: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}

@media (max-width: 767px) {

    .timeline-arrow {
        top: 80%;
        position: absolute;
        height: 100%;
        width: 0;
        left: 50px;
        border: solid 1.5px;
    }

    ul.timeline:before {
        left: 20px;
    }

    ul.timeline > li {
        margin-bottom: 25px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 46px);
        width: -moz-calc(100% - 46px);
        width: -webkit-calc(100% - 46px);
    }

    ul.timeline > li > .timeline-badge {
        left: 8px;
        margin-left: 0;
        top: 166px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 13px;
        left: -13px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 11px;
        left: -11px;
        right: auto;
    }

    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 8px;
    }


}
