<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn btn-social-icon ftIcon" href="https://www.linkedin.com/company/27058524/">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon ftIcon" href="https://www.youtube.com/user/StepFreeDanceTV">
                    <i class="fab fa-youtube"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon ftIcon" href="https://www.instagram.com/stepfreedance/">
                    <i class="fab fa-instagram"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon ftIcon" href="https://twitter.com/stepfreedance">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon ftIcon" href="https://www.facebook.com/StepFreeDance/">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
        </ul>
        <!-- End of social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - Step Free Dance by SFD Developers | All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- End of footer -->