<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://stepfreedance.com/assets/img/logo.png" style="height:40px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="../public_html/index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/AboutUs.html">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/events.html">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/our_work.html">OUR WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/meet_the_team.html">MEET THE TEAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/partnership.html">PARTNERSHIP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/community.html">COMMUNITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public_html/contactUs.html">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>